@using PagedList
@using PagedList.Mvc

@model IEnumerable<Project.Models.Order>

@{
    ViewBag.Title = "會員訂單列表";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>會員訂單列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().oId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().mId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().mName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().mEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().oAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().oDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.oId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oDate)
            </td>
            <td>
                <a href="@Url.Action("OrderDetail")?oId=@item.oId"
                   class="btn btn-info">訂單明細</a>
                <a href="@Url.Action("Edit")?oId=@item.oId" class="btn btn-warning">編輯訂單</a>
            </td>

        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("OrderList", new { page }))